/* ************************************************************************** */
/*                                                                            */
/*                                                        ::::::::            */
/*   SearchBox.scss                                     :+:    :+:            */
/*                                                     +:+                    */
/*   By: lde-la-h <lde-la-h@student.codam.nl>         +#+                     */
/*                                                   +#+                      */
/*   Created: 2022/07/25 11:40:29 by lde-la-h      #+#    #+#                 */
/*   Updated: 2022/08/22 10:42:43 by W2Wizard      ########   odam.nl         */
/*                                                                            */
/* ************************************************************************** */

.search-box {
	display: inline-block;
	
	margin: 4px;
	padding: 0.4rem;

	border-radius: 4px;

	border: solid rgba(255, 255, 255, 0.1) 0.15rem;
	background: var(--component-background);
	
	transition: all .1s ease-out;
	cursor: pointer;
	
	color: var(--foreground-unfocused);

	&:hover {
		color: var(--foreground);
	}
	
	&:hover::placeholder {
		color: var(--foreground-unfocused);
	}
	
	&:hover::placeholder {
		color: var(--foreground);
	}
}
