/* ************************************************************************** */
/*                                                                            */
/*                                                        ::::::::            */
/*   Button.scss                                        :+:    :+:            */
/*                                                     +:+                    */
/*   By: lde-la-h <lde-la-h@student.codam.nl>         +#+                     */
/*                                                   +#+                      */
/*   Created: 2022/07/25 11:40:29 by lde-la-h      #+#    #+#                 */
/*   Updated: 2022/08/25 16:08:09 by W2Wizard      ########   odam.nl         */
/*                                                                            */
/* ************************************************************************** */

.button {
	outline: none;
	user-select: none;
	text-decoration: none;
	border-style: solid;
	border-width: 2.5px;

	cursor: pointer;
	display: inline-block;

	margin: 4px;
	padding: 0.4rem;
	border-radius: 4px;

	background: var(--component-background);
	border: solid var(--component-border-color) 0.15rem;
	color: var(--foreground-unfocused);

	transition: all 0.1s ease-out;

	outline: 0;
	&:focus {
		border-color: var(--foreground);
	}

	&:hover {
		color: var(--foreground);
	}

	& i {
		margin-right: 0.2rem;
	}
}
