/* ************************************************************************** */
/*                                                                            */
/*                                                        ::::::::            */
/*   Toolbar.scss                                       :+:    :+:            */
/*                                                     +:+                    */
/*   By: lde-la-h <lde-la-h@student.codam.nl>         +#+                     */
/*                                                   +#+                      */
/*   Created: 2022/07/25 11:40:29 by lde-la-h      #+#    #+#                 */
/*   Updated: 2022/08/25 17:15:58 by W2Wizard      ########   odam.nl         */
/*                                                                            */
/* ************************************************************************** */

#editor-toolbar {
	background-color: var(--header-background);
	box-shadow: 2.5px 2.5px var(--header-background-shadow);
	padding: 0.4rem;
	border-radius: 8px;
}

#logo-toolbar {
	margin: 8px 8px 0px 4px;
	width: 2rem;
	height: 2rem;
}
