/* ************************************************************************** */
/*                                                                            */
/*                                                        ::::::::            */
/*   App.css                                            :+:    :+:            */
/*                                                     +:+                    */
/*   By: lde-la-h <lde-la-h@student.codam.nl>         +#+                     */
/*                                                   +#+                      */
/*   Created: 2022/07/25 10:50:32 by lde-la-h      #+#    #+#                 */
/*   Updated: 2022/07/25 18:02:28 by lde-la-h      ########   odam.nl         */
/*                                                                            */
/* ************************************************************************** */

:root {
    --header-height: 5rem;

	--background: #30303D;

	--component-background: #2a2a36;

	--header-background: #3c3c4d;
    --header-background-shadow: #24242e;

	--foreground: #ecf0f1;
    --foreground-unfocused: #a0a0a0;
}

body {
	background: var(--background);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.stack {
	display: flex;
	flex-wrap: wrap;
}

