/* ************************************************************************** */
/*                                                                            */
/*                                                        ::::::::            */
/*   App.css                                            :+:    :+:            */
/*                                                     +:+                    */
/*   By: lde-la-h <lde-la-h@student.codam.nl>         +#+                     */
/*                                                   +#+                      */
/*   Created: 2022/07/25 10:50:32 by lde-la-h      #+#    #+#                 */
/*   Updated: 2022/08/19 15:10:59 by lde-la-h      ########   odam.nl         */
/*                                                                            */
/* ************************************************************************** */

:root {
    --header-height: 5rem;

	--background: #12141a;

	--component-background: #1d2028;
	--component-border-color: rgba(255, 255, 255, 0.1);

	--header-background: #292D39;
    --header-background-shadow: #24242e;

	--foreground: #ecf0f1;
    --foreground-unfocused: #a0a0a0;
}

body {
	overflow: hidden;
	margin: 0.8em;
	padding: 0px;
	background: var(--background);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.stack {
	display: flex;
	flex-wrap: wrap;
}

